Django==1.8.1
Pillow==2.8.2
backports.ssl-match-hostname==3.4.0.2
dj-database-url==0.3.0
django-admin-tools==0.5.2
django-appconf==1.0.1t
django-extra-views==0.6.4
django-haystack==2.4.1
django-imagekit==3.3
django-tables2==1.0.4
django-treebeard==3.0
django-widget-tweaks==1.4.1
gunicorn==19.3.0
mock==1.0.1
pilkit==1.1.13
pyOpenSSL==0.13.1
requests==2.3.0
static3==0.6.1
virtualenv==13.0.3
wsgiref==0.1.2
